#base-div-error404{
    text-align: center;
}

#page-not-found_div_home_button{
    text-align: center;
}

.page-not-found_buttons{
    padding-top: 10px;
    padding-left: 90px;
    padding-bottom: 10px;
    padding-right: 90px;

    border-radius: 5px;
    background-color: cornflowerblue;

    color: white;
    border: 0px;
}

.page-not-found_buttons:hover{
    background-color: blue;
}