<app-header></app-header>
<div class="container">
  <h2>{{ isNew ? "Add Cashier" : "Edit Cashier" }}</h2>
  <app-form
    (formSubmit)="onSubmit($event)"
    [buttonText]="isNew ? 'Crear' : 'Actualizar'"
    [formFields]="formFields"
    [initialValues]="cashier"
  >
  
  </app-form>

  <div class="button-container">
    <button class="action-button" type="button" (click)="openCashier()">Open Cashier</button>
    <button class="action-button" type="button" (click)="closeCashier()">Close Cashier</button>
  </div>


</div>
