<app-header></app-header>

<div class="main-container">
  <div class="menu">
    <div class="menu-row">
      <a class="menu-link" routerLink="/users">Usuarios</a>
      <a class="menu-link" routerLink="/consecutivos">Consecutivos</a>
      <a class="menu-link" routerLink="/countrys">Paises</a>
    </div>
    <div class="menu-row">
        <a class="menu-link" routerLink="/cashiers">Cajas</a>
        <a class="menu-link" routerLink="/roles">Roles</a>
        <a class="menu-link" routerLink="/measurementunits">Unidades de medida</a>
    </div>
  </div>
</div>
