<div class="container">
  <h2>User List</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>firstName</th>
        <th>lastName</th>
        <th>employeeId</th>
        <th>phoneNumber1</th>
        <th>phoneNumber2</th>
        <th>login</th>
        <th>password</th>
        <th>isSystemAdmin</th>
        <th>isSecurityAdmin</th>
        <th>isRestaurantAdmin</th>
        <th>isAccountsAdmin</th>
       
        <!-- Add more table headers as needed -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of user">
        <td>{{ u.name }}</td>
        <td>{{ u.firstName }}</td>
        <td>{{ u.lastName }}</td>
        <td>{{ u.employeeId }}</td>
        <td>{{ u.phoneNumber1 }}</td>
        <td>{{ u.phoneNumber2 }}</td>
        <td>{{ u.login }}</td>
        <td>{{ u.password }}</td>
        <td>{{ u.isSystemAdmin }}</td>
        <td>{{ u.isSecurityAdmin }}</td>
        <td>{{ u.isRestaurantAdmin }}</td>
        <td>{{ u.isAccountsAdmin }}</td>
        <!-- Add more table cells based on your data structure -->
      </tr>
    </tbody>
  </table>
</div>
