<app-logout-button></app-logout-button>

<div class="main-container">
  <div class="menu">
    <div class="menu-row">
      <a class="menu-link" routerLink="/seguridad">Seguridad</a>
      <a class="menu-link" routerLink="/restaurants">Restaurantes</a>
      <a class="menu-link" routerLink="/users">Usuarios</a>
      <a class="menu-link" routerLink="/cashiers">Cajas</a>
      <a class="menu-link" routerLink="/products">Productos</a>
    </div>
    <div class="menu-row">
      <a class="menu-link" routerLink="/Proveedores">Proveedores</a>
      <a class="menu-link" routerLink="/Administracion">Administración</a>
      <a class="menu-link" routerLink="/Reportes">Reportes</a>
    </div>
  </div>
</div>
