
        <app-logout-button></app-logout-button>



<div class="main-container">
    <div class="menu">
        <div class="menu-row">
            <a class="menu-link" href="/seguridad">Seguridad</a>
            <a class="menu-link" href="/Restaurante">Restaurante</a>
            <a class="menu-link" href="/Cliente">Cliente</a>
        </div>
        <div class="menu-row">
            <a class="menu-link" href="/Proveedores">Proveedores</a>
            <a class="menu-link" href="/Administracion">Administración</a>
            <a class="menu-link" href="/Reportes">Reportes</a>
        </div>
    </div>
</div>