.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Use 100% of viewport height */
    background-color: #f0f0f0; /* Background color that contrasts with the form */
  }
  
  .login-form {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .input-group {
    margin-bottom: 20px; /* Increased margin for spacing */
  }
  
  .label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center; /* Center-align the labels */
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff; /* Button color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  
    /* Hover effect */
    &:hover {
      background-color: #0056b3;
    }
  }
  