<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th *ngFor="let formItem of formItems">
          {{ formItem.label }}
        </th>
        <th>Borrar</th>
        <th>Editar</th>
        <th>Detalles</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>
          {{ item.id }}
        </td>
        <td *ngFor="let formItem of formItems">
          {{ item[formItem.name] }}
        </td>
        <td>
          <button (click)="onDelete(item.id)">Delete</button>
        </td>
        <td>
          <a [routerLink]="['/', uriSingular, 'edit', item.id]">Edit</a>
        </td>
        <td><a [routerLink]="['/', uriSingular, item.id]">Detail</a></td>
      </tr>
    </tbody>
  </table>
</div>
